body
{
    background-image: url(imagenes/fondo.jpg);
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-size: 100% 190%;
    
}

h2
{
    font-size: 150%;
    color: blue;
}
h4
{
    color: red;
}
td
{
    color: rgb(156, 182, 40);
}
table
{
    background-color: rgb(210, 229, 233);
}